* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, rgb(158, 15, 15),rgb(167, 28, 28),rgb(12, 14, 133),rgb(70, 56, 128));
}
.logo{
  color: rgb(123, 20, 220);
  margin-left: 2rem;
}
.max-width {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: brown;
  box-shadow: 0 0 5px #fff;
  text-align: center;
  border-radius: 0%;
 


}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

button{
  padding: 10px;
  border: none;
  outline: none;
  font-family: 'segoe UI';
  font-size: 1.1em;
  transition: all ,1s;
  cursor: pointer;
  border-radius: 25px;  /* faz as bordas ficarem redondas*/
  

}

button:hover {
  background-color: rgb(91, 50, 204);
}

button:active {
  background-color: darkred;
}

.bg-green {
  background-color:orange ;
}
.bg-yellow {
  background-color: peru;
}
.bg-red {
  background-color: cadetblue;
}
